.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}

.container-1 {

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 20px;

}

.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}